<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Pagina'), ['action' => 'edit', $pagina->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Pagina'), ['action' => 'delete', $pagina->id], ['confirm' => __('Are you sure you want to delete # {0}?', $pagina->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Paginas'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Pagina'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="paginas view large-9 medium-8 columns content">
    <h3><?= h($pagina->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Nome') ?></th>
            <td><?= h($pagina->nome) ?></td>
        </tr>
        <tr>
            <th><?= __('Alias') ?></th>
            <td><?= h($pagina->alias) ?></td>
        </tr>
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($pagina->id) ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Texto') ?></h4>
        <?= $this->Text->autoParagraph(h($pagina->texto)); ?>
    </div>
</div>
