<ol class="breadcrumb">
    <li><?= $this->Html->link(__('Home'), ['controller' => 'dashboard']) ?></li>
    <li><?= $this->Html->link(__('Visitantes'), ['controller' => 'visitantes']) ?></li>
    <li><?= __('Detalhes'); ?></li>
</ol>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">

        </div>
        <div class="col-sm-3">
            <div class="list-group list-group-alternate mb-n nav nav-tabs">
                <?= $this->Html->link(__('<span class="ti ti-pencil"></span> ' . 'Edit Visitante'), ['action' => 'edit', $visitante->id ] , ['class' => 'list-group-item', 'escape' => false]) ?>
                <?php  $icon_active =  ( $visitante->ativo) ? 'close' : 'check'; ?>
                <?php $label_active =  ( $visitante->ativo) ? __('Desativar') : __('Ativar'); ?>

                <?= $this->Form->postLink('<span class="ti ti-'.$icon_active.'"></span> ' . $label_active , ['action' => 'active', $visitante->id], ['confirm' => __('Deseja (des)Ativar # {0}?', $visitante->id), 'escape' => false, 'class' => 'list-group-item', 'title' => __('Delete')]) ?>
            </div>
        </div><!-- col-sm-3 -->

        <div class="col-sm-9">
            <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                    <h2><?= h('Visitante') ?></h2>
                    <div class="panel-ctrls" data-actions-container=""
                         data-action-collapse='{"target": ".panel-body"}'></div>
                    <div class="options">

                    </div>
                </div>
                <div class="panel-body">
                    <div class="about-area">
                        <h4><?= h($visitante->id) ?></h4>
                        <table class="table">
                                                                                                                <tr>
                                <th><?= __('Nome') ?></th>
                                <td><?= h($visitante->nome) ?></td>
                            </tr>
                                                                                                                <tr>
                                <th><?= __('Email') ?></th>
                                <td><?= h($visitante->email) ?></td>
                            </tr>
                                                                                                                <tr>
                                <th><?= __('Telefone') ?></th>
                                <td><?= h($visitante->telefone) ?></td>
                            </tr>
                                                                                                                <tr>
                                <th><?= __('User') ?></th>
                                <td><?= $visitante->has('user') ? $this->Html->link($visitante->user->id, ['controller' => 'Users', 'action' => 'view', $visitante->user->id]) : '' ?></td>
                            </tr>
                                                                                                                                                                                                    <tr>
                                <th><?= __('Id') ?></th>
                                <td><?= $this->Number->format($visitante->id) ?></td>
                            </tr>
                                                                                                                                        </table>

                    </div>
                </div>
            </div>


                                    

            <div class="panel panel-default" data-widget='{"draggable": "false"}'>
                <div class="panel-heading">
                    <h2><?= __('Jogos') ?></h2>
                    <div class="panel-ctrls" data-actions-container=""
                         data-action-collapse='{"target": ".panel-body"}'></div>
                    <div class="options">

                    </div>
                </div>
                <div class="panel-body">
                    <div class="about-area">

                        <h4><?= __('Jogos') ?></h4>
                        <?php if (!empty($visitante->jogos)): ?>
                        <table class="table">
                            <tr>
                                                                <th><?= __('Id') ?></th>
                                                                <th><?= __('Rodada Id') ?></th>
                                                                <th><?= __('Casa Id') ?></th>
                                                                <th><?= __('Visitante Id') ?></th>
                                                                <th><?= __('Gol Casa') ?></th>
                                                                <th><?= __('Gol Visitante') ?></th>
                                                                <th class="actions"><?= __('Actions') ?></th>
                            </tr>
                            <?php foreach ($visitante->jogos as $jogos): ?>
                            <tr>
                                <td><?= h($jogos->id) ?></td>
                                <td><?= h($jogos->rodada_id) ?></td>
                                <td><?= h($jogos->casa_id) ?></td>
                                <td><?= h($jogos->visitante_id) ?></td>
                                <td><?= h($jogos->gol_casa) ?></td>
                                <td><?= h($jogos->gol_visitante) ?></td>
                                <td class="actions">
                                    <?= $this->Html->link(__('View'), ['controller' => 'Jogos', 'action' => 'view', $jogos->id]) ?>
                                            <?= $this->Html->link(__('Edit'), ['controller' => 'Jogos', 'action' => 'edit', $jogos->id]) ?>
                                            <?= $this->Form->postLink(__('Delete'), ['controller' => 'Jogos', 'action' => 'delete', $jogos->id], ['confirm' => __('Are you sure you want to delete # {0}?', $jogos->id)]) ?>
                                </td>
                            </tr>
                            <?php endforeach; ?>
                        </table>
                        <?php endif; ?>
                    </div>
                </div>
            </div>
                    
        </div>
    </div>
</div>
