<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Destaque'), ['action' => 'edit', $destaque->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Destaque'), ['action' => 'delete', $destaque->id], ['confirm' => __('Are you sure you want to delete # {0}?', $destaque->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Destaque'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Destaque'), ['action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="destaque view large-9 medium-8 columns content">
    <h3><?= h($destaque->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($destaque->id) ?></td>
        </tr>
    </table>
    <div class="row">
        <h4><?= __('Texto') ?></h4>
        <?= $this->Text->autoParagraph(h($destaque->texto)); ?>
    </div>
</div>
