<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Form->postLink(
                __('Delete'),
                ['action' => 'delete', $destaque->id],
                ['confirm' => __('Are you sure you want to delete # {0}?', $destaque->id)]
            )
        ?></li>
        <li><?= $this->Html->link(__('List Destaque'), ['action' => 'index']) ?></li>
    </ul>
</nav>
<div class="destaque form large-9 medium-8 columns content">
    <?= $this->Form->create($destaque) ?>
    <fieldset>
        <legend><?= __('Edit Destaque') ?></legend>
        <?php
            echo $this->Form->input('texto');
        ?>
    </fieldset>
    <?= $this->Form->button(__('Submit')) ?>
    <?= $this->Form->end() ?>
</div>
