<nav class="large-3 medium-4 columns" id="actions-sidebar">
    <ul class="side-nav">
        <li class="heading"><?= __('Actions') ?></li>
        <li><?= $this->Html->link(__('Edit Plano'), ['action' => 'edit', $plano->id]) ?> </li>
        <li><?= $this->Form->postLink(__('Delete Plano'), ['action' => 'delete', $plano->id], ['confirm' => __('Are you sure you want to delete # {0}?', $plano->id)]) ?> </li>
        <li><?= $this->Html->link(__('List Planos'), ['action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Plano'), ['action' => 'add']) ?> </li>
        <li><?= $this->Html->link(__('List Clientes'), ['controller' => 'Clientes', 'action' => 'index']) ?> </li>
        <li><?= $this->Html->link(__('New Cliente'), ['controller' => 'Clientes', 'action' => 'add']) ?> </li>
    </ul>
</nav>
<div class="planos view large-9 medium-8 columns content">
    <h3><?= h($plano->id) ?></h3>
    <table class="vertical-table">
        <tr>
            <th><?= __('Nome') ?></th>
            <td><?= h($plano->nome) ?></td>
        </tr>
        <tr>
            <th><?= __('Id') ?></th>
            <td><?= $this->Number->format($plano->id) ?></td>
        </tr>
        <tr>
            <th><?= __('Valor') ?></th>
            <td><?= $this->Number->format($plano->valor) ?></td>
        </tr>
    </table>
    <div class="related">
        <h4><?= __('Related Clientes') ?></h4>
        <?php if (!empty($plano->clientes)): ?>
        <table cellpadding="0" cellspacing="0">
            <tr>
                <th><?= __('Id') ?></th>
                <th><?= __('Nome') ?></th>
                <th><?= __('Slogan') ?></th>
                <th><?= __('Subdescricao') ?></th>
                <th><?= __('Descricao') ?></th>
                <th><?= __('Email') ?></th>
                <th><?= __('Site') ?></th>
                <th><?= __('Logradouro') ?></th>
                <th><?= __('Numero') ?></th>
                <th><?= __('Complemento') ?></th>
                <th><?= __('Bairro') ?></th>
                <th><?= __('Cidade') ?></th>
                <th><?= __('Uf') ?></th>
                <th><?= __('Cep') ?></th>
                <th><?= __('Cartao Desconto') ?></th>
                <th><?= __('Data Cadastro') ?></th>
                <th><?= __('Status') ?></th>
                <th><?= __('Plano Id') ?></th>
                <th><?= __('Categoria Id') ?></th>
                <th><?= __('Plus') ?></th>
                <th><?= __('Logo') ?></th>
                <th><?= __('Img Header') ?></th>
                <th class="actions"><?= __('Actions') ?></th>
            </tr>
            <?php foreach ($plano->clientes as $clientes): ?>
            <tr>
                <td><?= h($clientes->id) ?></td>
                <td><?= h($clientes->nome) ?></td>
                <td><?= h($clientes->slogan) ?></td>
                <td><?= h($clientes->subdescricao) ?></td>
                <td><?= h($clientes->descricao) ?></td>
                <td><?= h($clientes->email) ?></td>
                <td><?= h($clientes->site) ?></td>
                <td><?= h($clientes->logradouro) ?></td>
                <td><?= h($clientes->numero) ?></td>
                <td><?= h($clientes->complemento) ?></td>
                <td><?= h($clientes->bairro) ?></td>
                <td><?= h($clientes->cidade) ?></td>
                <td><?= h($clientes->uf) ?></td>
                <td><?= h($clientes->cep) ?></td>
                <td><?= h($clientes->cartao_desconto) ?></td>
                <td><?= h($clientes->data_cadastro) ?></td>
                <td><?= h($clientes->status) ?></td>
                <td><?= h($clientes->plano_id) ?></td>
                <td><?= h($clientes->categoria_id) ?></td>
                <td><?= h($clientes->plus) ?></td>
                <td><?= h($clientes->logo) ?></td>
                <td><?= h($clientes->img_header) ?></td>
                <td class="actions">
                    <?= $this->Html->link(__('View'), ['controller' => 'Clientes', 'action' => 'view', $clientes->id]) ?>

                    <?= $this->Html->link(__('Edit'), ['controller' => 'Clientes', 'action' => 'edit', $clientes->id]) ?>

                    <?= $this->Form->postLink(__('Delete'), ['controller' => 'Clientes', 'action' => 'delete', $clientes->id], ['confirm' => __('Are you sure you want to delete # {0}?', $clientes->id)]) ?>

                </td>
            </tr>
            <?php endforeach; ?>
        </table>
    <?php endif; ?>
    </div>
</div>
